node_modules/
test/
.env
.github/
.editorconfig
.eslintignore
.eslintrc.json
.htmlhintrc
.gitattributes
.gitignore
.nvmrc
importmap.json
importmap.yaml
importmap.yml
rollup.config.js
test.config.js
*.tgz
*.log
*.bak
*.min.js
*.map

